@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

*::selection{
    background-color: darkslategray;
    color: crimson;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: crimson;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    transition: .2s linear !important;
}
body.active{
    padding-left:  35rem;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.heading{
    margin-bottom: 3rem;
    text-align: center;
}

.heading span{
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: black;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    background-color: lightsteelblue;
    font-size: 2rem;
}

.btn:hover{
    background-color: darkslategray;
    color: bisque;
}

.header{
    position: fixed;
    top: 0; left: -35rem;
    height: 100vh;
    background-color: white;
    border-right: black;
    width: 35rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .2s linear !important;
    text-align: center;
}

.header .logo{
    text-transform: uppercase;
    border-bottom: black;
    font-weight: bolder;
    font-size: 4.5rem;
}

.header .navbar{
    width: 100%;
}

.header .navbar a{
    display: block;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 3rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    background-color: crimson;
}

.header .follow a{
    font-size: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
}

.header .follow a:hover{
    transform: rotate(360deg);
    background-color: crimson;
}

#menu-btn{
    position: absolute;
    top: 0; right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: darkslategray;
    color: white;
}

.header.active{
    left: 0;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}

.home .image img{
    height: 65rem;
    padding: 2rem;
    border: black;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: .5rem;
}

.home .content span{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: lightsteelblue;
    font-size: 2rem;
    margin: 1rem 0;
}

.home .content p{
    font-size: 1.8rem;
    line-height: 2;
    padding: 1rem 0;
}

.about .biography p{
    margin: 1rem auto;
    max-width: 70rem;
    line-height: 1.5;
    font-size: 1.7rem;
}

.about .biography .bio{
    margin-top: 1rem;
}

.about .biography .bio h3{
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
    background-color: lightsteelblue;
    border: black;
    word-break: break-all;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
}
.about .biography .bio h3 span{
    font-weight: lighter;
}

.about .skills{
    margin: 3rem 0;
}
.about .skills .progress{
    margin-top: 1rem;
}
.about .skills .progress .bar{
    margin: 1rem auto;
    max-width: 70rem;
    border: black;
    padding: 1rem;
}

.about .skills .progress .bar h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem;
    background-color: crimson;
}

.about .skills .progress .bar span{
  font-weight: normal;
}

.about .skills .progress .bar:nth-child(1) h3{
    width: 95%;   
}

.about .skills .progress .bar:nth-child(2) h3{
    width: 80%;   
}

.about .skills .progress .bar:nth-child(3) h3{
    width: 65%;   
}

.about .skills .progress .bar:nth-child(4) h3{
    width: 95%;   
}
.about .experience .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
}
.about .experience .row .box-container{
    flex: 1 1 40rem;
}

.about .experience .row .box-container .title{
    padding: 1.5rem;
    font-size: 2rem;
    background-color: crimson;
}
.about .experience .row .box-container .box{
    text-align: left;
    margin: 1.5rem 0;
    background-color: lightsteelblue;
    padding: 2rem;
}
.about .experience .row .box-container .box span{
    font-size: 2rem;
}
.about .experience .row .box-container .box h3{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.about .experience .row .box-container .box ul li{
    line-height: 1.5;
    font-size: 2rem;  
}












/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body.active{
        padding-left: 0;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header{
        padding-top: 7rem;
    }

    #menu-btn.fa-times{
        right: 0;
    }

    .home .image img{
         height: auto;
         width: 100%;
    }

    .heading span{
        font-size: 4rem;
    }

    .about .biography .bio h3{
        font-size: 2rem;
    }


}
 